---
http_interactions:
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=<CWB_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":"true","result":{"resource_id":"F-C0032-001","fields":[{"id":"datasetDescription","type":"String"},{"id":"locationName","type":"String"},{"id":"parameterName","type":"String"},{"id":"parameterValue","type":"String"},{"id":"parameterUnit","type":"String"},{"id":"startTime","type":"Timestamp"},{"id":"endTime","type":"Timestamp"}]},"records":{"datasetDescription":"三十六小時天氣預報","location":[{"locationName":"嘉義縣","weatherElement":[{"elementName":"Wx","time":[{"startTime":"2022-11-28
        18:00:00","endTime":"2022-11-29 06:00:00","parameter":{"parameterName":"晴時多雲","parameterValue":"2"}},{"startTime":"2022-11-29
        06:00:00","endTime":"2022-11-29 18:00:00","parameter":{"parameterName":"晴時多雲","parameterValue":"2"}},{"startTime":"2022-11-29
        18:00:00","endTime":"2022-11-30 06:00:00","parameter":{"parameterName":"晴時多雲","parameterValue":"2"}}]},{"elementName":"PoP","time":[{"startTime":"2022-11-28
        18:00:00","endTime":"2022-11-29 06:00:00","parameter":{"parameterName":"0","parameterUnit":"百分比"}},{"startTime":"2022-11-29
        06:00:00","endTime":"2022-11-29 18:00:00","parameter":{"parameterName":"0","parameterUnit":"百分比"}},{"startTime":"2022-11-29
        18:00:00","endTime":"2022-11-30 06:00:00","parameter":{"parameterName":"10","parameterUnit":"百分比"}}]},{"elementName":"MinT","time":[{"startTime":"2022-11-28
        18:00:00","endTime":"2022-11-29 06:00:00","parameter":{"parameterName":"22","parameterUnit":"C"}},{"startTime":"2022-11-29
        06:00:00","endTime":"2022-11-29[...]
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=BAD_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: ASCII-8BIT
      string: '401 Forbidden: Authorization key is not correct.

        '
  recorded_at: Mon, 28 Nov 2022 09:46:22 GMT
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-D0047-091?Authorization=<CWB_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":"true","result":{"resource_id":"F-D0047-091","fields":[{"id":"contentDescription","type":"String"},{"id":"datasetDescription","type":"String"},{"id":"locationsName","type":"String"},{"id":"dataid","type":"String"},{"id":"locationName","type":"String"},{"id":"geocode","type":"Double"},{"id":"lat","type":"Double"},{"id":"lon","type":"Double"},{"id":"elementName","type":"String"},{"id":"description","type":"String"},{"id":"startTime","type":"Timestamp"},{"id":"endTime","type":"Timestamp"},{"id":"dataTime","type":"Timestamp"},{"id":"value","type":"String"},{"id":"measures","type":"String"}]},"records":{"locations":[{"datasetDescription":"臺灣各縣市鄉鎮未來1週逐12小時天氣預報","locationsName":"台灣","dataid":"D0047-091","location":[{"locationName":"新竹縣","geocode":"10004000","lat":"24.841245","lon":"120.995698","weatherElement":[{"elementName":"PoP12h","description":"12小時降雨機率","time":[{"startTime":"2022-11-28
        18:00:00","endTime":"2022-11-29 06:00:00","elementValue":[{"value":"0","measures":"百分比"}]},{"startTime":"2022-11-29
        06:00:00","endTime":"2022-11-29 18:00:00","elementValue":[{"value":"20","measures":"百分比"}]},{"startTime":"2022-11-29
        18:00:00","endTime":"2022-11-30 06:00:00","elementValue":[{"value":"50","measures":"百分比"}]},{"startTime":"2022-11-30
        06:00:00","endTime":"2022-11-30 18:00:00","elementValue":[{"value":"40","measures":"百分比"}]},{"startTime":"2022-11-30
        18:00:00","endTime":"2022-12-01 06:00:00","elementValue":[{"value":"30","measures":[...]
