---
http_interactions:
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=<CWB_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":"true","result":{"resource_id":"F-C0032-001","fields":[{"id":"datasetDescription","type":"String"},{"id":"locationName","type":"String"},{"id":"parameterName","type":"String"},{"id":"parameterValue","type":"String"},{"id":"parameterUnit","type":"String"},{"id":"startTime","type":"Timestamp"},{"id":"endTime","type":"Timestamp"}]},"records":{"datasetDescription":"三十六小時天氣預報","location":[{"locationName":"嘉義縣","weatherElement":[{"elementName":"Wx","time":[{"startTime":"2023-01-06
        18:00:00","endTime":"2023-01-07 06:00:00","parameter":{"parameterName":"多雲時晴","parameterValue":"3"}},{"startTime":"2023-01-07
        06:00:00","endTime":"2023-01-07 18:00:00","parameter":{"parameterName":"晴時多雲","parameterValue":"2"}},{"startTime":"2023-01-07
        18:00:00","endTime":"2023-01-08 06:00:00","parameter":{"parameterName":"多雲","parameterValue":"4"}}]},{"elementName":"PoP","time":[{"startTime":"2023-01-06
        18:00:00","endTime":"2023-01-07 06:00:00","parameter":{"parameterName":"0","parameterUnit":"百分比"}},{"startTime":"2023-01-07
        06:00:00","endTime":"2023-01-07 18:00:00","parameter":{"parameterName":"0","parameterUnit":"百分比"}},{"startTime":"2023-01-07
        18:00:00","endTime":"2023-01-08 06:00:00","parameter":{"parameterName":"0","parameterUnit":"百分比"}}]},{"elementName":"MinT","time":[{"startTime":"2023-01-06
        18:00:00","endTime":"2023-01-07 06:00:00","parameter":{"parameterName":"14","parameterUnit":"C"}},{"startTime":"2023-01-07
        06:00:00","endTime":"2023-01-07 [...]
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-D0047-091?Authorization=<CWB_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":"true","result":{"resource_id":"F-D0047-091","fields":[{"id":"contentDescription","type":"String"},{"id":"datasetDescription","type":"String"},{"id":"locationsName","type":"String"},{"id":"dataid","type":"String"},{"id":"locationName","type":"String"},{"id":"geocode","type":"Double"},{"id":"lat","type":"Double"},{"id":"lon","type":"Double"},{"id":"elementName","type":"String"},{"id":"description","type":"String"},{"id":"startTime","type":"Timestamp"},{"id":"endTime","type":"Timestamp"},{"id":"dataTime","type":"Timestamp"},{"id":"value","type":"String"},{"id":"measures","type":"String"}]},"records":{"locations":[{"datasetDescription":"臺灣各縣市鄉鎮未來1週逐12小時天氣預報","locationsName":"台灣","dataid":"D0047-091","location":[{"locationName":"新竹縣","geocode":"10004000","lat":"24.841245","lon":"120.995698","weatherElement":[{"elementName":"PoP12h","description":"12小時降雨機率","time":[{"startTime":"2023-01-06
        12:00:00","endTime":"2023-01-06 18:00:00","elementValue":[{"value":"30","measures":"百分比"}]},{"startTime":"2023-01-06
        18:00:00","endTime":"2023-01-07 06:00:00","elementValue":[{"value":"0","measures":"百分比"}]},{"startTime":"2023-01-07
        06:00:00","endTime":"2023-01-07 18:00:00","elementValue":[{"value":"0","measures":"百分比"}]},{"startTime":"2023-01-07
        18:00:00","endTime":"2023-01-08 06:00:00","elementValue":[{"value":"0","measures":"百分比"}]},{"startTime":"2023-01-08
        06:00:00","endTime":"2023-01-08 18:00:00","elementValue":[{"value":"0","measures":"百分比[...]
- request:
    method: get
    uri: https://data.ntpc.gov.tw/api/datasets/b3a30a19-4b89-4da2-8d99-18200dc5dfde/json?page=0&size=5
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"Id":"C1_382000000A_110083","Name":"雙溪打鐵舖","Zone":"","Toldescribe":"台灣的打鐵店所剩不多，但是在雙溪，還有一間百年打鐵舖！在台灣早期的農業社會，無論是種田使用的鐮刀、鋤頭，亦或是家庭常使用的用具─菜刀、剪刀等等，只要是與鐵具相關，都需要打鐵舖敲敲打打精工細活的製做出來。　到「雙溪打鐵舖」一探究竟！這間鐵舖，仍舊發出老師傅在店裡敲敲打打的聲響。門上掛著許多的鐮刀、鋤頭、豬扒等早期的農業器具，這間打鐵舖已有百年歷史，不到十坪的空間內，器材上盡是沾滿了黑色的灰燼，最古老的打鐵爐灶呈現在眼前。現代社會，使用的是機器大量製造的鐵具，打鐵舖行業漸漸沒落，時代的轉變，帶來了新的事物，打鐵舖已變成舊有的、懷念的產業。想見識手工鐵具的生產過程，唯有在這裡，才能見識到吧。","Description":"早期農業時代，不管是種田(鋤頭、鐮刀…)、捕魚(捕鰻苗…)的器材或是家庭用具(菜刀、剪刀…)，以及相關的農業用具都需要打鐵舖來製作。雙溪原本有兩家打鐵舖，但由於幾次水災，設備淹毀，目前只剩下一家打鐵舖尚在打製鐵器。","Tel":"886-2-24931111","Add":"新北市227雙溪區中華路7號","Zipcode":"227","Travellinginfo":"【大眾運輸】搭乘火車至雙溪站下，出站往西走自強路朝新基南街前進，接著朝陽街直行接中華路即可抵達。【自行開車】1.從東西向快速公路萬里瑞濱線/台62線的瑞芳交流道(瑞芳/八堵)號出口下交流道。2.於瑞芳街向左微轉走一坑路。3.從明燈路三段微向左轉，變成明燈路二段/102縣道。4.於瑞侯公路/北37鄉道向右轉。5.接著走瑞雙公路/102縣道，於新基大橋/自強路/102甲縣道向左轉，...","Opentime":"無固定營業，早上打鐵機率較高","Map":"","Gov":"382000000A","Px":"121.86594","Py":"25.03655","Orgclass":"","Class1":"5","Class2":"","Class3":"","Level":"","Website":"","Parkinginfo":"","Parkinginfo_px":"","Parkinginfo_py":"","Ticketinfo":"","Remarks":"","Keyword":"","Changetime":"2021/04/21
        12:07:27"},{"Id":"C1_382000000A_110453","Name":"橫山梯田","Zone":"","Toldescribe":"位於大坑溪中游的橫山梯田，是三芝最著名的梯田地景。沿著三芝市區道路往橫山方向走，一片田野風光就映入眼簾。橫山舊名橫山崁，是一個高低落差明顯的丘陵帶，早期三芝背山面海，平原不廣，為了爭取到更大的耕種面積，先民開墾時便順著地形，開闢成一階階的梯田。依山勢蜿蜒的梯田，形成了層層相疊的梯田地景，再加上公路以及河流交錯其間，構築出了幾何圖形般的美麗風景，無論站在哪一個角度，都可以觀賞到不同的風景。原本橫山梯田是以種稻作為主，但後來因考量經濟效益，改種三芝區最有名的茭白筍和山藥。橫山也是三芝「美人腿」茭白筍的家鄉，潔白香脆的茭白筍已經成為三芝知名的美食，好山好水好土壤蘊育出鮮美甜脆的茭白筍，白淨光滑亦有「三芝美人腿」的美稱。秋風吹拂下，綠色波浪般的茭白筍田，搭配隨著水流活力轉動的水車，透露著一股悠然自得的鄉野風情。休閒假日不妨來一趟三芝美人腿之旅，享受採筍、品嚐茭白筍特色風味餐的悠閒時光。","Desc[...]
